# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*.iml
out
gen
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml

target/
!/.idea/SpringBootSamples.iml
!/.idea/modules.xml
